#input{
    margin: 0px 0px 15px 30px;
    display: block;
}

.submitCancelBtn{
    width: 48px;
    height: 24px;
    margin: 0px 5px 10px 5px;
    padding: 0px;
    font-size: 10px;
    text-align: center;
    display: inline-block;
}