.eachCmt{
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px black dashed;
}

#cmtContent{
    font-size: 14px;
    color: black;
}

#editCmtBtn{
    width: 32px;
    height: 24px;
    margin: 0px 5px 10px 5px;
    padding: 0px;
    font-size: 10px;
    text-align: center;
    display: inline-block;
}

#dltCmtBtn{
    width: 48px;
    height: 24px;
    margin: 0px 5px 10px 5px;
    padding: 0px;
    font-size: 10px;
    text-align: center;
    background-color: rgb(255, 85, 85);
    display: inline-block;
}