.msgComp{
    width: 23%;
    min-height: 200px;
    margin: 15px 0px 15px 0px;
    border: 1px solid rgb(111, 188, 255);
    padding: 10px;
    text-align: center;
    position: relative;
    left: 38.5%;
    right: 38.5%;
}

#content{
    color: black;
    font-size: 16px;
}

#editBtn{
    width: 32px;
    height: 24px;
    margin: 0px 5px 10px 5px;
    padding: 0px;
    font-size: 10px;
    text-align: center;
    display: inline-block;
}

#deleteBtn{
    width: 48px;
    height: 24px;
    margin: 0px 5px 10px 5px;
    padding: 0px;
    font-size: 10px;
    text-align: center;
    background-color: rgb(255, 85, 85);
    display: inline-block;
}